.venv
core/__pycache__
logs/errors/*.log
assets/templates/mod/entrust
assets/templates/mod/general
assets/templates/mod/pause
assets/templates/map_model.py
assets/templates/mapping.json
scripts/DNA
test/
dist/
SAutoScript.egg-info/